:root {
    --black: #212125;
    --sand: #DBBCD;
    --dark-grey: #626262;
    --westar: #E5E3DB;
    --off-white: #F8F8F8;
    
}

body {
    background-color: var(--westar); 
    color: var(--black);
    
}