:root {
    --font-primary: 'Lucida Console', monospace;
}

body {
    font-family: var(--font-primary);
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: var(--cyan);
    margin-bottom: 0.5em;
    text-shadow: 2px 2px 4px var(--dark-grey);
}
a {
    text-decoration: none;
    color: var(--cyan); 
    transition: color 0.3s; 
    font-weight: bolder;
}

a:hover, a:focus {
    color: var(--dark-grey);
}

h3 {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--dark-grey);
    margin-bottom: 1.5em;
    border: 3px solid var(--cyan);
    padding: 1em;
}

p {
    font-weight: bold;
    color: var(--dark-grey);
    font-size: 1em;

}